@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Inter-400.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Inter-500.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/Inter-600.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/Inter-700.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/Inter-800.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/Inter-900.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url("/assets/fonts/MaterialSymbolsOutlined.ttf") format("truetype");
  font-display: swap;
}
